:root {
  --background-color: #292d3d;
  --background-color-secondary: #1d2030;
  --background-color-tertiary: #394260;
  --foreground-color: #959dcb;
  --contrast-color: #d0d0d0;
  --orangish:#f78c6c;
  --yellowish:#ffcb6b;   
  --greenish:#c3e88d;   
  --bluish:#82aaff;   
  --purplish:#c792ea; 
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--contrast-color);
  text-align: center;
}

li {
  list-style-type: none;
;}

.bg-theme {
  background-color: var(--background-color);
}

.bg-theme2 {
  background-color: var(--background-color-secondary)
}

.bg-theme3 {
  background-color: var(--background-color-tertiary)}

.text-accent {
  color: var(--orangish)
}

.text-contrast {
  color: var(--contrast-color)
}

#header {
  height: calc(100vh - 50px);
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #223;
}

/*
  Bootstrap classes modification
*/
.nav-link:hover {
  color: var(--yellowish);
}