/*CSS Reset*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

:root {
  /* Color names */
  --white: #fbfbfe;
  --off-white: #efeff3;
  --light-gray: #e7e7ea;
  --soft-gray: #d0d0d3;
  --mid-gray: #a0a0a3;
  --dark-gray: #777779;
  --black-gray: #404042;
  --black: #19191c;
  --slate-blue: #5a4ba8;
  --light-slate-blue: #a18edf;
  --transparent-white: #fbfbfee0;
  --transparent-off-white: #efeff3a0;

  /* Semantic variables*/
  --background-color-primary: var(--white);
  --background-color-secondary: var(--off-white);
  --background-color-tertiary: var(--light-gray);
  --text-color-primary: var(--black);
  --text-color-secondary: var(--black-gray);
  --text-color-tertiary: var(--dark-gray);
  --accent-color: var(--slate-blue);
  --accent-color-light: var(--light-slate-blue);
  --card-border-radius: 6px;

  /* Font sizing */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.6944rem, 0.6913rem + 0.0157vw, 0.7035rem);
  --step--1: clamp(0.8333rem, 0.797rem + 0.1816vw, 0.9377rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0378rem + 0.8109vw, 1.6663rem);
  --step-2: clamp(1.44rem, 1.1683rem + 1.3585vw, 2.2211rem);
  --step-3: clamp(1.728rem, 1.2992rem + 2.1439vw, 2.9607rem);
  --step-4: clamp(2.0736rem, 1.4221rem + 3.2575vw, 3.9467rem);
  --step-5: clamp(2.4883rem, 1.5239rem + 4.8219vw, 5.2609rem);

  /* Spacing and sizing */
  --content-width-constrained: clamp(360px, 90%, 900px);
  --content-width-full: max(360px, 100%);
  --page-layout-wide: clamp(360px, 95vw, 1200px);
  --page-layout-default: clamp(360px, 95vw, 900px);
  --page-layout-narrow: clamp(360px, 95vw, 640px);
  --fluid-spacing: clamp(1rem, 5vw, 3rem);
  --spacing-m: clamp(0.75rem, 2vw, 1rem);
  --spacing-s: clamp(0.5rem, 1vw, 0.75rem);
  --icon-sizing-big: clamp(3rem, 2rem + 3vw, 3.75rem);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--navbar-height, '50px');
}

body {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.33;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
  text-align: center;
  margin-bottom: 0.5em;
}

/* Navbar */

#navbar {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--transparent-off-white);
  backdrop-filter: blur(15px);
  padding: 0.375rem 0;
  z-index: 1;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--page-layout-wide);
}

.nav-list,
.nav-home {
  display: flex;
  place-content: center;
  gap: 0.5em;
}

.nav-toggle {
  display: none;
}

.navbar-item {
  position: relative;
  padding: var(--spacing-m);
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-color: inherit;
  transition: box-shadow 500ms ease, background-color 500ms ease;
}

.navbar-item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 9px;
  width: 0%;
  height: 2px;
  background: var(--accent-color-light);
  transition: width ease-in 200ms;
  transform: translateX(-50%);
}

.navbar-item:hover {
  color: var(--accent-color);
}

.navbar-item:hover::after {
  width: 70%;
  transform: translateX(-50%);
}

.navbar-item.active {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
}

/* Styling by section*/
/* Header */

#hero {
  justify-content: center;
  background-color: var(--background-color-primary);
  width: var(--content-width-full);
  margin: 0 auto;
  padding: 0 clamp(1rem, 5vw, 8rem);
  background-size: cover;
  color: var(--primary-color);

  & svg {
    aspect-ratio: 1;
    height: var(--icon-sizing-big);
  }

  & h1 {
    font-size: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  & .header-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing-m);
  }

  & #header-pre {
    font-size: var(--step-1);
    font-weight: 500;
    color: var(--text-color-secondary);
  }
  & #header-title {
    font-size: var(--step-5);
    font-weight: 700;
    line-height: 1.2;
  }

  & #header-nombre {
    font-size: var(--step-3);
    font-weight: 800;
    text-transform: none;
  }

  & .header-desc {
    font-size: var(--step-1);
    color: var(--text-color-secondary);
  }

  & .header-links {
    display: flex;
    gap: 0.75rem;
  }
}

/* Portfolio */

#portfolio {
  text-align: center;
  background-color: var(--background-color-secondary);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  gap: 0.5rem;
  width: var(--page-layout-wide);
}

.project-card {
  width: 100%;
  height: auto;
  aspect-ratio: 4/7;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--white);
  border: 1px solid var(--background-color-tertiary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: var(--card-border-radius);
  transition: box-shadow 200ms ease-in-out, filter 200ms ease-in-out;
}

.project-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-card:hover img {
  filter: saturate(1);
}

.project-image-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: cover; */
  filter: saturate(0.1);
  transition: filter 200ms ease-in-out;
}

.project-image-container {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.project-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-s);
  gap: var(--spacing-s);
  text-align: left;
  justify-content: space-between;
  overflow: hidden;
}

.project-desc {
  overflow-y: scroll;
  flex-grow: 1;
}

.project-desc p {
  margin-bottom: 0.5em;
}

.project-desc a {
  color: var(--accent-color);
  font-weight: 700;
}

.project-desc a:hover {
  color: var(--accent-color-light);
}

.project-title {
  font-size: var(--step-1);
  text-align: left;
  margin-bottom: 0.25em;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3px;
  margin-top: var(--spacing-m);
}

.skill-tag {
  padding: 4px 10px;
  border-radius: 2px;
  font-size: var(--step--2);
  font-weight: 700;
  white-space: nowrap;
  color: var(--background-color-primary);
  background-color: var(--accent-color);
  cursor: default;
  text-transform: uppercase;
}

.project-links {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
}

.project-link-button {
  color: var(--text-color-secondary);
  font-weight: 500;
  font-size: var(--step--1);

  &:hover {
    color: var(--accent-color);
  }
}

.project-link-icon {
  vertical-align: middle;
  aspect-ratio: 1;
  height: 2.5rem;
}

.section {
  min-height: 100svh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-m) 0;
  gap: var(--spacing-m);
}

/* Skills */

#skills {
  background-color: var(--background-color-tertiary);

  & svg {
    height: 3em;
    width: 3em;
  }
}

.skills-grid {
  /* height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-auto-rows: auto;
  grid-template-areas:
    'a b c'
    'a b d';
  justify-content: center;
  width: var(--content-width-constrained);
  gap: 3em;
  font-size: var(--step--1);
  color: var(--text-color-secondary);
}

#frontend-section {
  grid-area: a;
}

#backend-section {
  grid-area: b;
}

#languages-section {
  grid-area: c;
}

#other-section {
  grid-area: d;
}

.skill-section {
  display: flex;
  flex-direction: column;
}

.skill-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75em;
}

.skill-card-container.vertical {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100%;
}

.skill-card {
  aspect-ratio: 1 / 1;
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 0.5em;
  background-color: var(--background-color-secondary);
  box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
}

/* CV Section */

#cv {
  background-color: var(--background-color-secondary);

  /* & h3 {
    font-size: var(--step-2);
    text-align: center;
    margin: 0.5em;
  } */

  & li {
    margin-bottom: var(--spacing-m);
  }
}

.cv-page {
  background-color: var(--background-color-primary);
  width: var(--page-layout-default);
  padding: var(--fluid-spacing);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.cv-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & svg {
    aspect-ratio: 1;
    height: 2em;
  }

  & a {
    display: inline-flex;
    align-items: center;
    color: var(--accent-color);
    font-weight: 700;
  }

  & a:hover {
    color: var(--accent-color-light);
  }
}

.cv-category {
  border-top: 1px solid var(--background-color-tertiary);
}

.cv-item-header {
  display: flex;
  justify-content: space-between;
}

.cv-date {
  text-align: right;
  font-weight: 600;
  font-size: var(--step--1);
  color: var(--text-color-tertiary);
}
.cv-title {
  font-size: var(--step-1);
  font-weight: 600;
}

.cv-institution {
  color: var(--text-color-tertiary);
  font-weight: 600;
  font-size: var(--step-0);
}

.cv-description {
  color: var(--text-color-secondary);
  font-size: var(--step--1);
}

.cv-lang-list {
  display: flex;
  justify-content: space-evenly;
  font-weight: 400;
  color: var(--text-color-secondary);
  font-size: var(--step-0);

  & li {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  & svg {
    height: 2em;
    width: 2em;
  }
}
/* About me section */

#aboutme {
  background-color: var(--background-color-primary);

  & p {
    margin-bottom: 1em;
  }
}

.aboutme-body {
  font-size: var(--step-0);
  line-height: 1.5;
  width: var(--page-layout-narrow);
}

/* Animation classes */

.animate {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.delay-s {
  animation-delay: 0.1s;
}

.delay-m {
  animation-delay: 0.2s;
}

.delay-l {
  animation-delay: 0.3s;
}

.slide-from-left {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-from-left.is-visible {
  animation-name: SlideFromLeft;
  animation-fill-mode: both;
}

.slide-from-right {
  opacity: 0;
  transform: translateX(50px);
}

.slide-from-right.is-visible {
  animation-name: SlideFromRight;
  animation-fill-mode: both;
}

.slide-from-bottom {
  opacity: 0;
  transform: translateY(25px);
}

.slide-from-bottom.is-visible {
  animation-name: SlideFromBottom;
  animation-fill-mode: both;
}

.rotate-icon {
  animation-name: spinMe;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.pulse-effect {
  animation: pulse 2s infinite ease-in-out;
}

/* Animations */

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
}

@keyframes spinMe {
  0% {
    transform: rotate(-35deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes SlideFromRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SlideFromLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SlideFromBottom {
  from {
    transform: translateY(25px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Viewport media queries */

/* @media (max-width: 911px) {
} */

@media (max-width: 576px) {

  .nav-container {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: var(--page-layout-wide);
  }

  .nav-home {
    justify-content: space-between;
    width: auto;
    padding: var(--spacing-m) var(--spacing-s);
  }

  .nav-list {
    flex-direction: column;
    display: flex;
    place-content: center;
    gap: 0.5em;
  }

  .nav-navigation {
    overflow: hidden;
    height: 0px;
    transition: height 0.3s ease-in-out;
  }

  .nav-navigation.is-open {
    height: var(--menu-height-mobile, 205px);
  }

  .nav-toggle {
    display: block;
  }

  .nav-toggle > svg {
    height: 2rem;
    aspect-ratio: 1;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    aspect-ratio: auto;
  }

  .project-image-container > img {
    filter: saturate(1);
  }

  .skills-grid {
    grid-template-columns: 2fr;
    grid-template-areas: unset;
  }

  .skills-section {
    flex-direction: row;
  }
  #frontend-section,
  #backend-section,
  #languages-section,
  #other-section {
    grid-area: unset;
  }

  .skill-card-container {
  gap: 1rem;
}

  .skill-card-container.vertical {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  }

  .skill-card {
  width: auto;
  background-color: unset;
  box-shadow: none;
}

}
